body {
    height: 100vh;
    width: 100%;
    background-color: #949398FF;
    color: #F4DF4EFF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.score-container {
    display: flex;
    gap: 50%;
}

.btn-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 50%;
    width: 25%;
    border: none;
    background-color: #949398FF;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#result {
    height: 30px;
}